doctype html
html
  head
    title="Formulaire Ajout"
  body
    form(method='POST' enctype="multipart/form-data" action="/plages")
      div.form-group
        label(for='nomPlage') Nom Plage :
        input#nomPlage.form-control(type='text', name='nomPlage' value="#{title}")
      br
        
      div.form-group
        label(for='nomArtiste') Nom Artiste :
        input#nomArtiste.form-control(type='text' name='nomArtiste' value="#{artist}")  
      br
        
      div.form-group
        label(for='nomAlbum') Nom Album :
        input#nomAlbum.form-control(type='text', name='nomAlbum')
      br
          
      div.form-group
        label(for='featArtiste') Feat (séparer les artistes par des virgules) :
        input#featArtiste.form-control(type='text' name='featArtiste')
      br
        
      div.form-group
        label(for='pochette') Choisir la pochette 
        input#pochette.form-control(type='file' name='pochette')
      br
          
      div.form-group(hidden)
        label(for='name') Nom fichier :
        input#name.form-control(type='text' name='name' value="#{name}")
          
      br
      img.image(id='visualisation' src="#{name}.jpg" width=150 height=150)
      br
      br
      br
      button.btn.btn-primary(type='submit') Submit
    br
    
    script.
      artist="#{artist}"
      console.log(artist);
      duration="#{duration}";
    script(src='/javascripts/formulaireAjout.js')
